.blog-card-container {
  display: flex;
  flex-flow: row wrap;

  .blog-card {
    max-width: calc(50% - 20px);
    height: auto;
    margin: 10px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    min-width: 200px;
    background-color: #375a7f;
    border-radius: 10px;
    z-index: 0;

    h3 {
      color: initial;
    }

    small {
      color: #ddd;
    }

    a {
      z-index: 5;
      text-decoration: none;
      color: #fff;
    }

    @media (max-width: 767px) {
      max-width: 100%;
    }

    &:hover .backdrop {
      opacity: 0.2;
    }

    &:hover a {
      color: white;
    }
    .backdrop {
      z-index: -5;
      border-radius: 10px;

      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0;
      transition: opacity 200ms ease;
    }

    h3 {
      margin: 5px 0;
      padding: 0;
    }
  }
}



.blog {
  display: flex;

  div {
    max-width: 33.33%;
    margin-right: 20px;
  }
}